.card {
  border-radius: 1rem;

  h3 {
    font-weight: 600;
  }

  button {
    white-space: nowrap;
  }

  .card-img-top {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  .card-body {
    font-size: 0.95rem;
  }
}
