<div class="container py-4">
  <form (ngSubmit)="onSubmit()" [formGroup]="userForm" class="row g-3">

    <h2 class="mb-4">Modifier mes informations</h2>

    <div class="col-12 col-md-6">
      <label for="username" class="form-label">Nom d'utilisateur</label>
      <input type="text" id="username" class="form-control" formControlName="username" required>
    </div>

    <div class="col-12 col-md-6">
      <label for="firstname" class="form-label">Prénom</label>
      <input type="text" id="firstname" class="form-control" formControlName="firstname">
    </div>

    <div class="col-12 col-md-6">
      <label for="lastname" class="form-label">Nom</label>
      <input type="text" id="lastname" class="form-control" formControlName="lastname">
    </div>

    <div class="col-12 col-md-6">
      <label for="email" class="form-label">Email</label>
      <input type="email" id="email" class="form-control" formControlName="email">
    </div>

    <div class="col-12 col-md-6">
      <label for="birthDate" class="form-label">Date de naissance</label>
      <input type="date" id="birthDate" class="form-control" formControlName="birthDate">
    </div>

    <div class="col-12 col-md-6">
      <label for="gender" class="form-label">Genre</label>
      <select id="gender" class="form-select" formControlName="gender">
        <option [ngValue]="true">Homme</option>
        <option [ngValue]="false">Femme</option>
      </select>
    </div>

    <div class="col-12 col-md-6">
      <label for="adress" class="form-label">Adresse</label>
      <input type="text" id="adress" class="form-control" formControlName="adress">
    </div>

    <div class="col-12 col-md-6">
      <label for="postCode" class="form-label">Code postal</label>
      <input type="text" id="postCode" class="form-control" formControlName="postCode">
    </div>

    <div class="col-12 col-md-6">
      <label for="city" class="form-label">Ville</label>
      <input type="text" id="city" class="form-control" formControlName="city">
    </div>

    <div class="col-12 col-md-6">
      <label for="country" class="form-label">Pays</label>
      <input type="text" id="country" class="form-control" formControlName="country">
    </div>

    <div class="col-12 col-md-6">
      <label for="phoneNumber" class="form-label">Téléphone</label>
      <input type="text" id="phoneNumber" class="form-control" formControlName="phoneNumber">
    </div>

    <div class="col-12 text-end">
      <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Enregistrer les modifications</button>
    </div>

  </form>
</div>
