.user-profile {
  border-radius: 1rem;

  .card-header {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  table {
    td, th {
      vertical-align: middle;
    }
  }

  @media (max-width: 576px) {
    .card-header {
      flex-direction: column;
      align-items: flex-start;
    }

    table {
      font-size: 0.9rem;
    }
  }
}
